<app-header *ngIf="authenticated"></app-header>
<button *ngIf="authenticated" class="toglebtn" mat-button (click)="toggleSidenav()">
    <i class="material-icons">
        menu
    </i>
</button>
<mat-sidenav-container class="">
    <mat-sidenav *ngIf="authenticated" class="sidenav" mode="side" [opened]="isShowing" fixedInViewport="true"
        fixedTopGap="64">
        <mat-nav-list class="nav-list">

            <a class="li-item" routerLink="home" mat-list-item>
                <i class="material-icons">
                    home
                </i>
                Inicio
            </a>
            <li class="li-item" mat-list-item>

                <button mat-button [matMenuTriggerFor]="menu">
                    <i class="material-icons">
                        ondemand_video
                    </i>
                    Jogos
                </button>
                <mat-menu #menu="matMenu">
                    <button routerLink="jogos" mat-menu-item>Nacionais</button>
                    <button mat-menu-item>Internacionais</button>
                </mat-menu>
            </li>
            <a class="li-item" (click)="logout()" mat-list-item>
                <i class="material-icons">
                    camera_outdoor
                </i>
                Sair
            </a>

        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content class="content">
        <router-outlet *ngIf="authenticated"></router-outlet>
        <app-login *ngIf="!authenticated"></app-login>
    </mat-sidenav-content>
</mat-sidenav-container>

<app-footer></app-footer>